<h1>Check Balance</h1>
<p>Account Number: {{account.accountNumber}}</p>
<p>Account Type: {{account.accountType}}</p>
<p>Current Balance: {{account.accountBalance}}</p>
<a href="/dashboard">Go Back</a>